:root {
    --light: rgb(209, 238, 252);
    --black: rgb(4,4,4);
    --fireengine: rgb(226, 60, 71);
    --fireengineTR: rgba(226, 60, 71, 0.800);
    --steelblue: rgb(63, 136, 197);
    --selectiveyellow: rgb(255, 186, 8);
    --selectiveyellowTR: rgba(255, 185, 8, 0.800);
    --prusianblue: rgb(28, 49, 68);
    --prusianbluelight: rgb(34, 59, 82);
    --slategray: rgb(113, 131, 152);
    --spacecadet: rgb(45, 48, 71);
    --body: rgb(88, 134, 175)
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--body);
    overflow: hidden;
    user-select: none;
}

#game {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    /* min-height: 550px; */
    max-height: 1000px;
    background: rgb(104, 176, 252);
    background: linear-gradient(180deg, rgba(104, 176, 252) 0%, rgba(110,205,229,1) 48%);
    border: 3px solid #22232e;
    overflow: hidden;
}

#carBoard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 30%;
    min-height: 250px;
}

#car {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

#cardsBoard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    /* height: calc(100% - 296px); */
    height: 70%;
    background: var(--spacecadet);
    padding: 5px;
    padding-top: 0px;
}
/* ------------------------------------ CAR-BACKGROUND ----------------------------------- */
#background-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
    /* height: 100%; */
    height: 250px;
    position: relative;
}
#carBackground{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 250px;
    position: absolute;
}
.clouds {
    position: absolute;
    right: -250px; 
    border-radius: 50% 40%;
    background: #bef1fa;
    opacity: .3;
}
.clouds::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -5px;
    width: 70px;
    height: 14px;
    border-radius: 50%;
    background-color: #f1fcfe;
}
.clouds::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 30px;
    width: 70px;
    height: 9px;
    border-radius: 50%;
    background: #d4f5fb;
}
#cloud1{
    top: 40px;
    width: 150px;
    height: 20px;
    animation: wind 58s linear infinite;
    animation-delay: 5s;
}
#cloud2{
    top: 30px;
    width: 170px;
    height: 15px;
    animation: wind 113s linear infinite;
    animation-delay: 4s;
}
#cloud3{
    top: 60px;
    width: 90px;
    height: 10px;
    animation: wind 159s linear infinite;
    opacity: .5;
}

#fans {
    width: 1000px;
    position: absolute;
    top: 92px;
    right: -1000px;
    background: url('./fans.webp') repeat-x;
    height: 148px;
    border-bottom: 50px solid #565;
    animation: horizon 20s infinite linear;
}

#kerbs {
    position: absolute;
    top: 185px;
    width: 1600px;
    height: 1600px;
    border-top: 10px dashed #f00;
    border-radius: 50%;
    animation: kerbs 20s infinite linear;
}

#track {
    position: absolute;
    top: 185px;
    width: 1600px;
    height: 1600px;
    border-radius: 50%;
    background: var(--spacecadet);
    border-top: 10px solid #fff;
    animation: kerbs 20s infinite linear;
}

/* ----------------------------------- CAR-CLICKER ----------------------------------- */
#clicker {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 162px;
    cursor: pointer;
}
.counter {
    display: flex;
}

#carBodyRear {
    position: relative;
    display: inline-block;
    background: #0D1B55;
    width: 100px;
    height: 40px;
    border-radius: 120% 5% 0% 30%;
    border-bottom: 2px solid #111;
}

#carBodyRear::before {
    content: '';
    position: absolute; 
    top: 0px;
    left: 55px;
    height: 5px;
    width: 60px;
    border-radius: 40% 0% 40% 0%;
    background: #000;
    z-index: 1;
}

#carBodyRear::after {
    content: '';
    position: absolute;
    left: 99px;
    top: -19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 15px;
    border-color: transparent transparent transparent #007bff;
}

#carBodyFront {
    display: inline-block;
    background: #0D1B55;
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 0% 40% 40% 0%;
    border-bottom: 2px solid #111;
}

#carBodyFront::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 25px;
    height: 20px;
    width: 3px;
    background: #000;
    rotate: 20deg;
    border-radius: 160%;
}

#carBodyFront::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 30px;
    height: 20px;
    width: 3px;
    background: #000;
    rotate: 20deg;
    border-radius: 160%;
}

.tyres {
    position: absolute;
    top: 12px;
    left: 20px;
    width: 42px;
    height: 42px;   
    border: 6px solid #111;
    border-radius: 50%;
}

.tyres::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #777;
    opacity: 1;
}
.tyres::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #666;
    opacity: 1;
}

#carBodyFront .tyres {
    left: 45px;
}

.rims {
    position: absolute;
    top: 16px;
    left: 38px;
    width: 6px;
    height: 34px;   
    background: #777;
    border: 2px solid #333;
    border-radius: 10%;
    animation: wheels 1s infinite linear;
    opacity: .8;
}

#carBodyFront .rims {
    left: 63px;
}

.rims::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    box-sizing: border-box;
    width: 6px;
    height: 34px;   
    background: #777;
    border: 2px solid #222;
    border-radius: 10%;
    rotate: 60deg;
}
.rims::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    box-sizing: border-box;
    width: 6px;
    height: 34px;   
    background: #777;
    border: 2px solid #222;
    border-radius: 10%;
    rotate: 120deg;
}


#door {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 108px;
    width: 1px;
    height: 30px;
    rotate: 20deg;
    background-color: #999;
}

#door::before {
    opacity: 1;
    content: '53';
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
    left: -35px;
    top: 15px;
    height: 20px;
    width: 20px;
    border: solid 3px #000;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
}

#driverBody {
    position: absolute;
    top: -6px;
    left: 65px;
    width: 40px;
    height: 10px;
    border-radius: 25% 99% 90% 0%;
    background: #aa3434;
}
/* helmet */
#driverBody::before {
    content:'';
    position: absolute;
    top: -16px;
    left: -4px;
    width: 17px;
    height: 17px;
    border-radius: 50% 50% 20% 50%;
    background: #244;
}
#driverBody::after {
    content:'';
    position: absolute;
    top: -10px;
    left: 4px;
    width: 9px;
    height: 3px;
    border-radius: 0% 40% 45% 0%;
    background: #ccc;
}

@keyframes wheels {
    from {
        transform: rotate(0turn);
    }
    
    to {
        transform: rotate(1turn);
    }
}

@keyframes kerbs {
    from {
        transform: rotate(0turn);
    }
    
    to {
        transform: rotate(-1turn);
    }
}

@keyframes wind {
    from {
        transform: translateX(0px);
    }
    
    to {
        transform: translateX(-1200px);
    }
}

@keyframes horizon {
    from {
        transform: translateX(0px);
    }
    
    to {
        transform: translateX(-2000px);
    }
}




/* ----------------------------------- COUNTERS ----------------------------------- */

#counters {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: var(--spacecadet);
    padding: 2px 10px 0px 10px;
}

.counter {
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 30px;
    color: var(--spacecadet);
    font-weight: 700;
    background: var(--steelblue);
    border: 3px solid var(--prusianblue);
    border-bottom: 5px double var(--prusianblue);
}

.not-enaugh {
    animation: notenaugh .6s;
}

@keyframes notenaugh {
    0%{
        background: var(--fireengine);
        transform: translateY(3px) 
    }
    20%{
        transform: translateY(-3px) 
    }
    40%{
        transform: translateY(3px)        
    }
    60%{
        transform: translateY(-3px)   
    }
    80%{
        transform: translateY(3px)        
    }
    100%{
        transform: translateY(0px)  
    }
}
/* ------------------------------------------------ NAVIGATION --------------------------------------------- */

#navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99%;
    height: fit-content;
    padding: 4px;
    padding-top: 2px;
    font-size: 1rem;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: border-radius 1s;
    /* transition: border-style 1s; */
    border: 3px solid var(--prusianblue);
    border-bottom: 6px double var(--prusianblue);
}

#home-navigation {
    background: var(--steelblue);
    color: var(--prusianblue);
    border-color: var(--prusianblue);
    width: 20%;
}

#bolid-navigation {
    width: 39%;
    background: var(--fireengine);
    color: var(--prusianblue);
    border-color: var(--prusianblue);
}
#garage-navigation {
    width: 39%;
    background: var(--selectiveyellow);
    color: var(--prusianblue);
    border-color:  var(--prusianblue);
}

#Driver-option, #Parts-option {
    background: var(--fireengine);
    font-weight: 700;
}

#Facilities-option, #TeamPrincipal-option {
    background: var(--selectiveyellow);
    font-weight: 700;
}
/* ----------------------------------- CARDS STYLES ----------------------------------- */

@media(min-width: 1200px){
    .slide {
      padding: 3rem;
    }
  }

.card-options-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-navigation-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30px;
    margin: 2px;
    cursor: pointer;
    color: var(--prusianblue);
    border: 3px solid var(--prusianblue);
    border-bottom: 6px double var(--prusianblue);
    animation: fadeIn .3s;
}


#selectTabInfo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: fadeIn .3s;
}

.cards-container {
    height: 100%;
    display: inline-flex;
    scrollbar-width: none;
    overflow: hidden;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
}

.cardElement{
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card {
    cursor: grab;
    width: 85%;
    /* min-height: 230px; */
    height: 100%;
    border-radius: 25px 5px;
    font-size: 1rem;
    display: block;
    text-align: center;
    overflow: hidden;
    transition: scale .3s;
  }

  
.bolid-slider {
    background: var(--steelblue);
  }
.garage-slider {
    background: var(--steelblue);
  }

#driver .card {
    background: var(--steelblue);
    animation: fadeIn .3s;
    transition: scale .2s;
}

#teamPrincipal .card {
    background: var(--steelblue);
    animation: fadeIn .3s;
    transition: scale .2s;
}

.grabbing {
    transition: scale .2s;
    scale: .95;
}
.grabbing .character-upgrade {
    transition: scale 4s;
    scale: 1;
}

.grabbing-slider .card{
    transition: scale .2s;
    scale: .95;
}

/* ----------------------------------- CARDS ELEMENTS STYLES ----------------------------------- */
.card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.showMeHowToSlide {
    animation: showMeHowToSlideA 1.5s;
}

@keyframes showMeHowToSlideA {
    0% {
        /* scale: 1; */
        transform: translateX(0px);
    }
    
    50% {
        /* scale: .7; */
        transform: translateX(-1000px);
    }
    100% {
        /* scale: .7; */
        transform: translateX(0);
    }
}

#driver .card, .bolid-element-slider .card {
    color: var(--spacecadet);
    border: 4px solid var(--fireengine);
}

#teamPrincipal .card, .garage-element-slider .card {
    color: var(--spacecadet);
    border: 4px solid var(--selectiveyellow);
}

.bolid-slider .upgrade p, .bolid-slider .card-title p {  
    width: 90%;
    color: var(--light);
    font-weight: 700;
    background: var(--fireengine);
}

.garage-slider .upgrade p, .garage-slider .card-title p {  
    width: 80%;
    color: var(--spacecadet);
    font-weight: 700;
    background: var(--selectiveyellow);
}


.cardMainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    height: 60%;
    padding: .5em;
    background: var(--steelblue);
    overflow: hidden;
    color: var(--light);
}

.card img {
    max-width: 230px;
    max-height: 230px;
    height: 60%;
    border: 2px solid var(--light);
    border-radius: 5px;
    padding: .5em;
    pointer-events: none;
}

.upgrade, .card-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 20%;
}

.upgrade {
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1.2em;
}

.upgrade h2 {
    height: 40%;
    color: var(--spacecadet);
    font-size: 1.2em;
    letter-spacing: 0em;
    transition: background .3s;
}


.upgrade p {
    height: 60%;
    max-height: 25px;
    margin-top: 1em;
    border-radius: 0px 0px 0px 15px;
}

.card-title p {
    border-radius: 0px 15px 0px 0px;
}

.sub-lvl-container {
    min-height: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub-lvl {
    height: 10px;
    display: flex;
    justify-content: space-around;
    width: 10%;
    border-radius: 10px 10px 10px 10px;
}

.sub-lvl  {
    border: solid 2px var(--spacecadet);
}

#driver .sub-lvl-bck {
    background: var(--fireengine);
}
#teamPrincipal .sub-lvl-bck {
    background: var(--selectiveyellow);
}

.description {
    width: 100%;
    padding: .5rem 0rem .5rem 0rem;
    font-size: 0.9em;
    font-style: italic;
}

.description p {
    width: 90%;
}

.card-content h1 {
    width: 100%;
    font-size: 1.6em;
    border-bottom: 2px solid var(--prusianblue);
}
.card-content h2 {
    width: 100%;
    font-size: 1.2em;
    border-top: 2px solid var(--prusianblue);
    cursor: pointer;
}

/* unlock cards */

#unlock-driver, #unlock-teamPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2em;
    font-weight: 700;
}

#unlock-driver, #unlock-teamPrincipal{
    cursor: pointer;
}
#unlock-driver img, #unlock-teamPrincipal img{
    border: none;
}


/* character cards */
#teamPrincipal-character-card, #driver-character-card{
    cursor: default;
}
#teamPrincipal-character-card img, #driver-character-card img{
    padding: 0px;
    border-radius: 10px;
    border-color: var(--spacecadet);
}

#teamPrincipal-character-card .card-title p,
#driver-character-card .card-title p {
    width: 100%;
    font-weight: 700;
    border-radius: 0px;
}

#driver-character-card .card-title p {
    background: var(--fireengine);
}

#teamPrincipal-character-card .card-title p {
    background: var(--selectiveyellow);
}

.character-upgrade {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#teamPrincipal-character-card .character-upgrade h1, #driver-character-card .character-upgrade h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    border-radius: 0px 20px 0px 0px;
    font-size: 1.5em;
    font-weight: 500;
    cursor: pointer;
    border: none;
    transition: width .3s;
}


#teamPrincipal-character-card .character-upgrade h1 {
    background: var(--selectiveyellow);
}
#driver-character-card .character-upgrade h1{
    background: var(--fireengine);
}

#teamPrincipal-character-card .character-upgrade p {
    width: 39%;
    font-weight: 700;
}
#driver-character-card .character-upgrade p {
    width: 39%;
    font-weight: 700;
}


/* ----------------------------------- HOME ELEMENTS STYLES ----------------------------------- */

#homeBoard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    animation: fadeIn .3s;
}

#home-counters-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.home-counters {
    width: 30%;
    display: block;
    text-align: center;
    border: solid 3px var(--prusianblue);
    border-bottom: double 4px var(--prusianbluelight);
    border-left: double 6px var(--prusianblue);
    color: var(--spacecadet);
    font-weight: 700;
    overflow: hidden;
    background: var(--steelblue);
}

#Total-counter-value, #PS-counter-value, #PC-counter-value {
    background: var(--prusianblue);
    color: var(--light);
    position: relative;
    font-weight: 300;
}

.home-counters:first-child {
    border-radius: 20px 0px 0px 0px;
}
.home-counters:last-child {
    border-radius: 0px 20px 0px 0px;
}
#home-stats-container {
    height: 55%;
    width: 97%;
    padding: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--steelblue);
    border: 2px solid var(--prusianblue);
    border-bottom: 6px double var(--prusianblue);
    border-left: 6px double var(--prusianblue);
}

#stats-cards-container {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stats-card-infoDiv {
    display: flex;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    color: var(--spacecadet);
    font-weight: 500;
}   
.stats-card-value {
    min-width: 25%;
    color: var(--black);
}

#sponsors-card-stats-value {
    border-radius: 0px 20px 0px 0px;
}
#fame-card-stats-value {
    border-radius: 0px 0px 20px 0px;
}
#engine-card-stats-value, 
#aerodynamics-card-stats-value,
#suspension-card-stats-value,
#turbo-card-stats-value{
    background: var(--fireengine);
    border: solid 3px var(--prusianblue);
    border-bottom: double 4px var(--prusianbluelight);
    border-left: double 6px var(--prusianblue);
}
#sponsors-card-stats-value, 
#windTunnel-card-stats-value,
#engineers-card-stats-value,
#fame-card-stats-value{
  background: var(--selectiveyellow);
  border: solid 3px var(--prusianblue);
  border-bottom: double 4px var(--prusianbluelight);
  border-left: double 6px var(--prusianblue);
}
#home-skills-container {
    display: flex;
    width: 100%;
    height: 25%;
    max-height: 180px;
    padding: 5px;
}

.skills {
    width: 50%;
    height: 100%;
    border: solid 2px var(--prusianblue);
    overflow: hidden;
    cursor: pointer;
}

.unlock-info {
    width: 100%;
    height: 100%;
    position: relative;
}

.unlock-info p:first-child {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: .6;
    background-image: url('./img/unlock.webp');
    background-repeat: no-repeat;
    background-size: 80px;
}

.unlock-info p:last-child {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 0.8rem; 
    width: 100%;
    height: 100%;
    padding: 10px;
}

#skill-1 {
    width: 50%;
    height: 100%;
    border: solid 2px var(--prusianblue);
    border-bottom: solid 8px var(--prusianbluelight);
    border-left: double 6px var(--prusianbluelight);
    border-radius: 0px 0px 0px 30px;
    margin-right: 1px;
    background-color: var(--fireengine);
    /* background-image: url(./img/jurek.webp);
    background-position: center;
    background-size: cover; */
}
#skill-2 {
    width: 50%;
    height: 100%;
    border: solid 2px var(--prusianblue);
    border-bottom: solid 8px var(--prusianbluelight);
    border-radius: 0px 0px 30px 0px;
    margin-left: 1px;
    background-color: var(--selectiveyellow);
}

.skill-available-container {
    width: 100%;
    height: 100%;
    /* background-position-x: 45%;
    background-position-y: 35%; */
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.skill-available-container p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
    width: 85%;
    color: var(--black);
}

#skill-1 .skill-available-container {
    background-image: url(./img/spedometer.webp);
}
#skill-1 .skill-available-container p{
    background: var(--fireengineTR);
    border: 2px solid var(--selectiveyellow);
}
#skill-2 .skill-available-container {
    background-image: url(./img/stopwatch.webp);
}
#skill-2 .skill-available-container p{
    background: var(--selectiveyellowTR);
    border: 2px solid var(--fireengine);
}




@media only screen and (max-height: 550px){
    .cardMainContent img {
        display: none;
    }
}

@media only screen and (min-width: 600px){
    #game {
        flex-wrap: wrap;
    }
    #car {
        overflow: visible;
    }

    #carBoard {
        width: 35%;
        height: 100%;
        max-height: 1000px;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #cardsBoard {
        width: 65%;
        height: 100%;
        border-left: 3px solid #333;
        background: none;
    }

    .cards-container {
        max-width: 2600px;
    }

    .cardElement{
        width: 65vw;
        max-width: 650px;
    }

    .card {
        max-width: 350px;
        max-height: 450px;
    }

    #home-stats-container {
        flex-direction: column;
        align-items: center;
        background: transparent;
        border: none;
    }
    
    #stats-cards-container {
        width: 55%;
    }

    .stats-card-infoDiv {
        justify-content: flex-end;
    }
    .stats-card-value {
        width: 50%;
        text-align: center;
    }

    .stats-card-nameTag {
        padding-right: 1rem;
        color: var(--prusianblue);
    }

    #counters {
        background: transparent;
    }

    #turbo-card-stats-value {
        border-radius: 0px 0px 20px 0px;
    }
    #engine-card-stats-value {
        border-radius: 0px 20px 0px 0px;
    }

    .unlock-info p:first-child {
        background-size: 100%;
    }
    .unlock-info p:last-child {
        font-size: 1.6rem;
    }
    .character-skills img {
        width: 40%;
        height: auto;
    }
    .character-skills,  .character-skills:last-child  {
        align-items: flex-end;
    }
    .character-skills p {
        font-size: 1.3rem;
        padding: 10px;
    }

    .upgrade h2:hover {
        /* letter-spacing: .3em; */
        background: var(--selectiveyellow);
    }
    
    #teamPrincipal-character-card .character-upgrade:hover h1, #driver-character-card .character-upgrade h1:hover {
        width: 100%;
        border-radius: 0px;
        cursor: pointer;
    }

    .skill-available-container p {
        font-size: 1.4em;
    }
}


@keyframes fadeIn {
    0% { opacity: 0;
         scale: 0; }
    100% { opacity: 1;
            scale: 1;}
  }


.left-up {
    transition: border-radius .5s, border-width .5s;
    border-radius: 0px 0px 0px 20px;

}
.left-down {
    transition: border-radius .5s, border-width .5s;
    border-radius: 20px 0px 0px 0px;
}
.right-up {
    transition: border-radius .5s, border-width .5s;
    border-radius: 0px 0px 20px 0px;
}
.right-down {
    transition: border-radius .5s, border-width .5s;
    border-radius: 0px 20px 0px 0px;
}
.nbr {
    transition: border-radius .5s, border-width .5s;
    border-radius: 0px;
}
.pushedKey {
    border-bottom-width: 4px; 
}


.anim-skill-duration {
    animation: anim-duration 1s infinite;
}

.anim-skill-bcg {
    background: var(--selectiveyellow); 
} 

@keyframes anim-duration {
    0% {
        font-size: 1em;
    }
    100% {
        font-size: 1.5em;

    }
}
