*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: #333;
    max-width: 100vw;
    overflow: hidden;
}
#carBoard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
    background: #6ecde5;
    /* background: #f9c1b7; */
    padding-bottom: 30px;
    overflow: hidden;
}
/* ------------------------------------ CAR-BACKGROUND ----------------------------------- */
#carBackground{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.clouds {
    position: absolute;
    right: -250px; 
    border-radius: 50% 40%;
    background: #bef1fa;
    opacity: .3;
}
.clouds::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -5px;
    width: 70px;
    height: 14px;
    border-radius: 50%;
    background-color: #f1fcfe;
}
.clouds::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 30px;
    width: 70px;
    height: 9px;
    border-radius: 50%;
    background: #d4f5fb;
}
#cloud1{
    top: 40px;
    width: 150px;
    height: 20px;
    animation: wind 58s linear infinite;
    animation-delay: 5s;
}
#cloud2{
    top: 30px;
    width: 170px;
    height: 15px;
    animation: wind 113s linear infinite;
    animation-delay: 4s;
}
#cloud3{
    top: 60px;
    width: 90px;
    height: 10px;
    animation: wind 159s linear infinite;
    opacity: .5;
}

#fans {
    width: 1000px;
    position: absolute;
    top: 92px;
    right: -1000px;
    background: url('./fans.webp') repeat-x;
    height: 124px;
    border-bottom: 25px solid #565;
    animation: horizon 20s infinite linear;
}

#kerbs {
    position: absolute;
    top: 185px;
    width: 1600px;
    height: 1600px;
    border-top: 10px dashed #f00;
    border-radius: 50%;
    animation: kerbs 20s infinite linear;
}

#track {
    position: absolute;
    top: 185px;
    width: 1600px;
    height: 1600px;
    border-radius: 50%;
    background: #333;
    border-top: 10px solid #fff;
    animation: kerbs 20s infinite linear;
}

/* ----------------------------------- CAR-CLICKER ----------------------------------- */
#clicker {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 120px;
    cursor: pointer;
}
.counter {
    display: flex;
}

#carBodyRear {
    position: relative;
    display: inline-block;
    background: red;
    width: 100px;
    height: 40px;
    border-radius: 120% 5% 0% 30%;
}

#carBodyRear::before {
    content: '';
    position: absolute; 
    top: 0px;
    left: 55px;
    height: 5px;
    width: 60px;
    border-radius: 40% 0% 40% 0%;
    background: #000;
    z-index: 1;
}

#carBodyRear::after {
    content: '';
    position: absolute;
    left: 99px;
    top: -19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 15px;
    border-color: transparent transparent transparent #007bff;
}

#carBodyFront {
    display: inline-block;
    background: red;
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 0% 40% 40% 0%;
}

#carBodyFront::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 25px;
    height: 20px;
    width: 3px;
    background: #000;
    rotate: 20deg;
    border-radius: 160%;
}

#carBodyFront::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 30px;
    height: 20px;
    width: 3px;
    background: #000;
    rotate: 20deg;
    border-radius: 160%;
}

.tyres {
    position: absolute;
    top: 12px;
    left: 20px;
    width: 42px;
    height: 42px;   
    border: 6px solid #000;
    border-radius: 50%;
}

.tyres::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #777;
    opacity: 1;
}
.tyres::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #666;
    opacity: 1;
}

#carBodyFront .tyres {
    left: 45px;
}

.rims {
    position: absolute;
    top: 16px;
    left: 38px;
    width: 6px;
    height: 34px;   
    background: #777;
    border: 2px solid #333;
    border-radius: 10%;
    animation: wheels 1s infinite linear;
    opacity: .8;
}

#carBodyFront .rims {
    left: 63px;
}

.rims::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    box-sizing: border-box;
    width: 6px;
    height: 34px;   
    background: #777;
    border: 2px solid #222;
    border-radius: 10%;
    rotate: 60deg;
}
.rims::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    box-sizing: border-box;
    width: 6px;
    height: 34px;   
    background: #777;
    border: 2px solid #222;
    border-radius: 10%;
    rotate: 120deg;
}


#door {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 108px;
    width: 1px;
    height: 30px;
    rotate: 20deg;
    background-color: #999;
}

#door::before {
    opacity: 1;
    content: '53';
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    left: -35px;
    top: 15px;
    height: 20px;
    width: 20px;
    border: solid 3px #000;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
}

#driverBody {
    position: absolute;
    top: -6px;
    left: 65px;
    width: 40px;
    height: 10px;
    border-radius: 25% 99% 90% 0%;
    background: #aa3434;
}
/* helmet */
#driverBody::before {
    content:'';
    position: absolute;
    top: -16px;
    left: -4px;
    width: 17px;
    height: 17px;
    border-radius: 50% 50% 20% 50%;
    background: #244;
}
#driverBody::after {
    content:'';
    position: absolute;
    top: -10px;
    left: 4px;
    width: 9px;
    height: 3px;
    border-radius: 0% 40% 45% 0%;
    background: #ccc;
}

@keyframes wheels {
    from {
        transform: rotate(0turn);
    }
    
    to {
        transform: rotate(1turn);
    }
}

@keyframes kerbs {
    from {
        transform: rotate(0turn);
    }
    
    to {
        transform: rotate(-1turn);
    }
}

@keyframes wind {
    from {
        transform: translateX(0px);
    }
    
    to {
        transform: translateX(-1200px);
    }
}

@keyframes horizon {
    from {
        transform: translateX(0px);
    }
    
    to {
        transform: translateX(-2000px);
    }
}




/* ----------------------------------- IN GAME MENU ----------------------------------- */

#counters {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #333;
    padding: 5px 0px 5px 0px;
}

.counter {
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 50px;
    color: #fff;
    font-weight: 700;
    background: #be2528;
    border: 2px solid #981e20;
    border-radius: 20px 10px;

}

#navigation {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background: #333;
    padding-top: 5px;
}
.navigation {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: #fff;
    font-weight: 400;
    background: #d26669;
    border-radius: 20px 10px;
    cursor: pointer;
}

.navigation:hover {
    background: #ab2124;
}

#bolid-navigation {
    width: 39%;
    background: #b1c750;
}
#bolid-navigation:hover {
    background: #a2be25;
}

#Driver-option, #Parts-option {
    background: #a2be25;
}
#home-navigation {
    width: 20%;
}
#garage-navigation {
    width: 39%;
    background: #507dbb;
}
#garage-navigation:hover {
    background: #2565be;
}

#Facilities-option, #TeamPrincipal-option {
    background:#2565be;
}

.card-options-container {
    width: 100%;
    height: 50px;
    background: #333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-navigation-option {
    width: 48%;
    height: 80%;
    background: red;
    border-radius: 20px 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

#selectTabInfo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cards-container {
    height: 100%;
    display: inline-flex;
    scrollbar-width: none;
    overflow: hidden;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
    cursor: grab;
  }
  .cardElement{
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  @media(min-width: 1200px){
    .slide {
      padding: 3rem;
    }
  }

  .card {
    width: 85%;
    height: 90%;
  }
  
  .bolid-slider {
    background: #ccffcc;
  }
  .garage-slider {
    background: #99e6ff;
  }

  .driver-card {
    background: #ccffcc;
  }

  .teamPrincipal-card {
    background: #99e6ff;
  }