:root {
    --fireengine: rgb(226, 60, 71);
    --steelblue: rgb(63, 136, 197);
    --selectiveyellow: rgb(255, 186, 8);
    --prusianblue: rgb(28, 49, 68);
    --slategray: rgb(113, 131, 152);
    --body: rgb(88, 134, 175)
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--body);
    overflow: hidden;
    user-select: none;
}

#game {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 1000px;
    background: rgb(104, 176, 252);
    background: linear-gradient(180deg, rgba(104, 176, 252) 0%, rgba(110,205,229,1) 48%);
    border: 3px solid #22232e;
    /* border-radius: 10px; */
}

#carBoard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 600px;
    height: fit-content;
    /* max-height: 250px; */
    /* background: rgb(78,70,230);
    background: linear-gradient(180deg, rgba(78,70,230,1) 0%, rgba(110,205,229,1) 48%); */
}

#car {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

#cardsBoard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height: calc(100% - 296px);
    background: var(--slategray);
    padding: 5px;
    padding-top: 0px;
}
/* ------------------------------------ CAR-BACKGROUND ----------------------------------- */
#background-container {
    width: 100%;
    height: 100%;
    height: 250px;
    position: relative;
}
#carBackground{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    position: absolute;
}
.clouds {
    position: absolute;
    right: -250px; 
    border-radius: 50% 40%;
    background: #bef1fa;
    opacity: .3;
}
.clouds::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -5px;
    width: 70px;
    height: 14px;
    border-radius: 50%;
    background-color: #f1fcfe;
}
.clouds::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 30px;
    width: 70px;
    height: 9px;
    border-radius: 50%;
    background: #d4f5fb;
}
#cloud1{
    top: 40px;
    width: 150px;
    height: 20px;
    animation: wind 58s linear infinite;
    animation-delay: 5s;
}
#cloud2{
    top: 30px;
    width: 170px;
    height: 15px;
    animation: wind 113s linear infinite;
    animation-delay: 4s;
}
#cloud3{
    top: 60px;
    width: 90px;
    height: 10px;
    animation: wind 159s linear infinite;
    opacity: .5;
}

#fans {
    width: 1000px;
    position: absolute;
    top: 92px;
    right: -1000px;
    background: url('./fans.webp') repeat-x;
    height: 124px;
    border-bottom: 25px solid #565;
    animation: horizon 20s infinite linear;
}

#kerbs {
    position: absolute;
    top: 185px;
    width: 1600px;
    height: 1600px;
    border-top: 10px dashed #f00;
    border-radius: 50%;
    animation: kerbs 20s infinite linear;
}

#track {
    position: absolute;
    top: 185px;
    width: 1600px;
    height: 1600px;
    border-radius: 50%;
    background: #58534F;
    border-top: 10px solid #fff;
    animation: kerbs 20s infinite linear;
}

/* ----------------------------------- CAR-CLICKER ----------------------------------- */
#clicker {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 162px;
    cursor: pointer;
}
.counter {
    display: flex;
}

#carBodyRear {
    position: relative;
    display: inline-block;
    background: #0D1B55;
    width: 100px;
    height: 40px;
    border-radius: 120% 5% 0% 30%;
    border-bottom: 2px solid #111;
}

#carBodyRear::before {
    content: '';
    position: absolute; 
    top: 0px;
    left: 55px;
    height: 5px;
    width: 60px;
    border-radius: 40% 0% 40% 0%;
    background: #000;
    z-index: 1;
}

#carBodyRear::after {
    content: '';
    position: absolute;
    left: 99px;
    top: -19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 15px;
    border-color: transparent transparent transparent #007bff;
}

#carBodyFront {
    display: inline-block;
    background: #0D1B55;
    position: relative;
    width: 100px;
    height: 40px;
    border-radius: 0% 40% 40% 0%;
    border-bottom: 2px solid #111;
}

#carBodyFront::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 25px;
    height: 20px;
    width: 3px;
    background: #000;
    rotate: 20deg;
    border-radius: 160%;
}

#carBodyFront::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 30px;
    height: 20px;
    width: 3px;
    background: #000;
    rotate: 20deg;
    border-radius: 160%;
}

.tyres {
    position: absolute;
    top: 12px;
    left: 20px;
    width: 42px;
    height: 42px;   
    border: 6px solid #111;
    border-radius: 50%;
}

.tyres::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #777;
    opacity: 1;
}
.tyres::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #666;
    opacity: 1;
}

#carBodyFront .tyres {
    left: 45px;
}

.rims {
    position: absolute;
    top: 16px;
    left: 38px;
    width: 6px;
    height: 34px;   
    background: #777;
    border: 2px solid #333;
    border-radius: 10%;
    animation: wheels 1s infinite linear;
    opacity: .8;
}

#carBodyFront .rims {
    left: 63px;
}

.rims::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    box-sizing: border-box;
    width: 6px;
    height: 34px;   
    background: #777;
    border: 2px solid #222;
    border-radius: 10%;
    rotate: 60deg;
}
.rims::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    box-sizing: border-box;
    width: 6px;
    height: 34px;   
    background: #777;
    border: 2px solid #222;
    border-radius: 10%;
    rotate: 120deg;
}


#door {
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 108px;
    width: 1px;
    height: 30px;
    rotate: 20deg;
    background-color: #999;
}

#door::before {
    opacity: 1;
    content: '53';
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    left: -35px;
    top: 15px;
    height: 20px;
    width: 20px;
    border: solid 3px #000;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
}

#driverBody {
    position: absolute;
    top: -6px;
    left: 65px;
    width: 40px;
    height: 10px;
    border-radius: 25% 99% 90% 0%;
    background: #aa3434;
}
/* helmet */
#driverBody::before {
    content:'';
    position: absolute;
    top: -16px;
    left: -4px;
    width: 17px;
    height: 17px;
    border-radius: 50% 50% 20% 50%;
    background: #244;
}
#driverBody::after {
    content:'';
    position: absolute;
    top: -10px;
    left: 4px;
    width: 9px;
    height: 3px;
    border-radius: 0% 40% 45% 0%;
    background: #ccc;
}

@keyframes wheels {
    from {
        transform: rotate(0turn);
    }
    
    to {
        transform: rotate(1turn);
    }
}

@keyframes kerbs {
    from {
        transform: rotate(0turn);
    }
    
    to {
        transform: rotate(-1turn);
    }
}

@keyframes wind {
    from {
        transform: translateX(0px);
    }
    
    to {
        transform: translateX(-1200px);
    }
}

@keyframes horizon {
    from {
        transform: translateX(0px);
    }
    
    to {
        transform: translateX(-2000px);
    }
}




/* ----------------------------------- COUNTERS ----------------------------------- */

#counters {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #58534F;
    padding: 2px 10px 0px 10px;
}

.counter {
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 30px;
    color: var(--prusianblue);
    font-weight: 700;
    background: var(--steelblue);
    border: 2px solid var(--prusianblue);
    transform: border-radius 1s;
}

/* ----------------------------------- NAVIGATION ----------------------------------- */

#navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99%;
    height: fit-content;
    padding: 4px;
    padding-top: 2px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: .1rem;
    transition: letter-spacing .3s;
    transform: border-radius 1s;
}


.navigation:hover {
    background: #ab2124;
}


#home-navigation {
    background: var(--steelblue);
    color: var(--prusianblue);
    border: 2px solid var(--prusianblue);
    width: 20%;
}

#bolid-navigation {
    width: 39%;
    background: var(--fireengine);
    color: var(--prusianblue);
    border: 2px solid var(--prusianblue);
}
#garage-navigation {
    width: 39%;
    background: var(--selectiveyellow);
    color: var(--prusianblue);
    border: 2px solid var(--prusianblue);
}


#bolid-navigation:hover {
    letter-spacing: .4rem;
}
#home-navigation:hover {
    letter-spacing: .4rem;
}

#Driver-option, #Parts-option {
    background: var(--fireengine);
    font-weight: 700;
}

#Facilities-option, #TeamPrincipal-option {
    background: var(--selectiveyellow);
    font-weight: 700;
}


#garage-navigation:hover {
    letter-spacing: .4rem;
}
/* ----------------------------------- CARDS STYLES ----------------------------------- */

@media(min-width: 1200px){
    .slide {
      padding: 3rem;
    }
  }

.card-options-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* padding: 24px; */
}

.card-navigation-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30px;
    margin: 2px;
    cursor: pointer;
    color: var(--prusianblue);
    border: 2px solid var(--prusianblue);
    letter-spacing: .1rem;
    transition: letter-spacing .3s;
    animation: fadeIn .3s;
    transform: border-radius 1s;
}


  

.card-navigation-option:hover {
    letter-spacing: .3rem;
}


#selectTabInfo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: fadeIn .3s;
}

.cards-container {
    height: 100%;
    display: inline-flex;
    scrollbar-width: none;
    overflow: hidden;
    scrollbar-width: none;
    transform: translateX(0);
    will-change: transform;
    transition: transform 0.3s ease-out;
}

.cardElement{
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card {
    cursor: grab;
    width: 85%;
    height: 90%;
    border-radius: 30px 10px;
    font-size: 20px;
    display: block;
    text-align: center;
    overflow: hidden;
  }

  
  .bolid-slider {
    background: #ccffcc;
  }

  .garage-slider {
    background: #99e6ff;
  }

  #driver .card {
    background: var(--beige);
    cursor: default;
    animation: fadeIn .3s;
}

#teamPrincipal .card {
    cursor: default;
    background: #99e6ff;
    animation: fadeIn .3s;
  }

/* ----------------------------------- CARDS ELEMENTS STYLES ----------------------------------- */
.card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.showMeHowToSlide {
    animation: showMeHowToSlideA 2s;
}

@keyframes showMeHowToSlideA {
    0% {
        /* scale: 1; */
        transform: translateX(0px);
    }
    
    50% {
        scale: .7;
        transform: translateX(-1000px);
    }
    100% {
        /* scale: .7; */
        transform: translateX(0);
    }
}

#driver .card, .bolid-element-slider .card {
    border: 4px solid var(--darkorange);
}

#teamPrincipal .card, .garage-element-slider .card {
    border: 4px solid #2565be;
}

.cardMainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 50%;
    background: #aaaaaa6b;
    overflow: hidden;
    border: 4px solid #676767a3;
    border-radius: 20px 10px;
}

.card img {
    height: 50%;
}

.upgrade, .card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 25%;
}

.upgrade {
    align-items: flex-end;
}

.bolid-slider .upgrade p, .bolid-slider .card-title p {  
    width: 80%;
    color: #fff;
    font-weight: 700;
    background: #a2be25;
}

.garage-slider .upgrade p, .garage-slider .card-title p {  
    width: 80%;
    color: #fff;
    font-weight: 700;
    background: #2565be;
}


.upgrade p {
    border-radius: 5px 0px 0px 12px;
}

.card-title p {
    border-radius: 0px 5px 12px 0px;
}

.sub-lvl-container {
    min-height: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub-lvl {
    height: 10px;
    display: flex;
    justify-content: space-around;
    width: 33%;
    border-radius: 5px 10px 0px 12px;
}

#driver .sub-lvl {
    border: solid 1px #a2be25;
}
#teamPrincipal .sub-lvl {
    border: solid 1px #2565be;
}
q
#driver .sub-lvl-bck {
    background: #c7ee19;
}
#teamPrincipal .sub-lvl-bck {
    background: #2f7ff0;
}

.description {
    width: 100%;
    padding: .5rem 0rem .5rem 0rem;
    font-size: 0.8em;
}

.description p {
    width: 90%;
}

.card-content h1, h2 {
    width: 100%;
    font-size: 1.2em;
}

/* unlock cards */

#unlock-driver, #unlock-teamPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#unlock-driver p, #unlock-teamPrincipal p {
    font-size: 2.5em;
    font-weight: 700;
}
#unlock-driver {
    color: var(--darkorange);
}
#unlock-teamPrincipal{
    color: #2565be;
}

/* character cards */

#teamPrincipal-character-card .card-title p,
#driver-character-card .card-title p {
    width: 100%;
    color: #fff;
    font-weight: 700;
    border-radius: 0px;
}

#driver-character-card .card-title p {
    background: #a2be25;
}

#teamPrincipal-character-card .card-title p {
    background: #2565be;
}

.character-upgrade {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#teamPrincipal-character-card .character-upgrade h1 {
    width: 60%;
    background: #2565be;
    border-radius: 0px 40px 0px 0px;
    font-size: 1.1em;
    font-weight: 300;
    cursor: pointer;
}
#driver-character-card .character-upgrade h1{
    width: 60%;
    background: #a2be25;
    border-radius: 0px 40px 0px 0px;
    font-size: 1.1em;
    font-weight: 300;
    cursor: pointer;
}

#teamPrincipal-character-card .character-upgrade p {
    width: 39%;
    font-weight: 700;
}
#driver-character-card .character-upgrade p {
    width: 39%;
    font-weight: 700;
}


/* ----------------------------------- HOME ELEMENTS STYLES ----------------------------------- */

#homeBoard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    animation: fadeIn .3s;
}

#home-counters-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-counters {
    width: 30%;
    display: block;
    text-align: center;
    border: solid 3px var(--black);
    border-radius: 10px 5px;
    color: var(--black);
    font-weight: 700;
    overflow: hidden;
}
#Total-counter-value, #PS-counter-value, #PC-counter-value {
    background: var(--black);
    color: var(--beige);
    position: relative;
    /* z-index: -1; */
    font-weight: 300;
}

#home-stats-container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#stats-cards-container {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
}

.stats-card-value {
    /* min-width: 20%; */
    padding: 3px;
    background: #941616;
}

.stats-card-infoDiv {
    display: flex;
    justify-content: space-between;
}

#home-skills-container {
    display: flex;
    width: 100%;
    height: 25%;
    padding: 5px;
}

.skills {
    width: 50%;
    height: 100%;
    border: solid 3px #941616;
}



@media only screen and (min-width: 600px){

    #carBoard {
        width: 35%;
        height: 100%;
        max-height: 1000px;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #cardsBoard {
        width: 65%;
        height: 100%;
        border-left: 3px solid #333;
        background: none;
    }

    .cards-container {
        max-width: 2600px;
    }

    .cardElement{
        width: 65vw;
        max-width: 650px;
    }

    .card {
        max-width: 350px;
        max-height: 450px;
    }

    #home-stats-container {
        flex-direction: column;
        align-items: center;
    }
    
    #stats-cards-container {
        width: 55%;
    }
    .stats-card-infoDiv {
        justify-content: flex-end;
    }
    .stats-card-value {
        width: 50%;
        text-align: center;
    }

    .stats-card-nameTag {
        padding-right: 1rem;
    }

    #counters {
        background: transparent;
    }
}


@keyframes fadeIn {
    0% { opacity: 0;
         scale: 0; }
    100% { opacity: 1;
            scale: 1;}
  }


.left-up {
    transition: border-radius .5s;
    border-radius: 0px 0px 0px 20px;
}
.left-down {
    transition: border-radius .5s;
    border-radius: 20px 0px 0px 0px;
}
.right-up {
    transition: border-radius .5s;
    border-radius: 0px 0px 20px 0px;
}
.right-down {
    transition: border-radius .5s;
    border-radius: 0px 20px 0px 0px;
}
.nbr {
    transition: border-radius .5s;
    border-radius: 0px;
}
 